<footer class="footer py-4" id="sosialMedia">
        <div class="container">
            <div class="row align-items-center">
                <div class="col text-lg-start text-muted service1 target">
                    Copyright &copy; Uzm. Kl. Psk. Derya Arslan Topçu 2024 | 
                </div>
                <div class="col my-3 my-lg-0">
                    <a href="https://twitter.com" class="btn btn-info mx-2 btn-social service1 target">
                        <i class="bi bi-twitter text-white"></i>
                    </a>
                    <a href="https://www.youtube.com/@klinikpsikologderyaarslan" class="btn btn-danger mx-2 btn-social service2 target">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a href="https://www.instagram.com/klinikpsk.deryaarslan/" class="btn btn-dark mx-2 btn-social service3 target">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
                <div class="col text-end contacts">
                    {{#if user}}
                    <a href="/adminPanel" class="btn btn-success">Panele Geri Dön</a>
                    {{/if}}
                    <a href="https://outlook.live.com" class="link-secondary text-decoration-none service5 target me-4"><i class="bi bi-envelope-at"> </i>arslanderyaa@gmail.com</a>
                    <a href="https://wa.me/+905416906290" class="link-secondary text-decoration-none service5 target me-4"><i class="bi bi-whatsapp"></i> +905416906290</a>
                </div>
            </div>
        </div>
    </footer><!-- footer end -->