    <script src="/js/custom/contact.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/custom/extra.js"></script>
    <script src="/js/custom/scroll.js"></script>
    <script src="/js/custom/video.js"></script>
</body>
</html>