<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Berat Arslan">
    <meta name="description" content="Klinik Psikolog Derya Arslan">
    <meta name="keywords" content="Psikolog,Derya,Arslan,Klinik,Atolye,Terapi">
    <link href="/img/fav-icon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
    <title>Klinik Psikolog Derya Arslan</title>
    <style>
        @import url("/css/all.css");
    </style>
</head>
<body>