    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(205, 205, 205);" id="mainNavbar">
        <div class="container">
            <a href="/" style="font-family: 'Times New Roman', Times, serif;" class="navbar-brand text uppercase" title="Klinik Psikolog Derya Arslan">Klinik Psikolog | Derya Arslan</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-label="Menüyü açma ve kapatma butonu" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="myLabel" id="myNavbar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="myLabel">Neler Var</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="kapat"></button>
            </div>
        
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-lg-0 mb-2">
                    <li class="nav-item" data-bs-dismiss='offcanvas'><a href="/" class="nav-link btn-close-canvas">Anasayfa</a></li>
                    <li class="nav-item" data-bs-dismiss='offcanvas'><a href="/about" class="nav-link btn-close-canvas">Hakkımda</a></li>
                    <li class="nav-item" data-bs-dismiss='offcanvas'><a href="/blog" class="nav-link btn-close-canvas">Blog</a></li>
                    <li class="nav-item me-5" data-bs-dismiss='offcanvas'><a href="/video" class="nav-link btn-close-canvas">Videolar</a></li>
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" id="nDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Deneyim</a>
                        <ul class="dropdown-menu" id="MyDropdown" aria-labelledby="nDropdown">
                            <li data-bs-dismiss='offcanvas'><a href="#experiences" class="wrok dropdown-item btn-close-canvas">Deneyimler</a></li>
                            <li data-bs-dismiss='offcanvas'><a href="#workPlace" class="wrok dropdown-item btn-close-canvas">Çalışmalar</a></li>
                            <li data-bs-dismiss='offcanvas'><a href="#workshop" class="dropdown-item btn-close-canvas">Atolyeler</a></li>
                        </ul>
                    </li>
                </ul>
                </li>
            </ul>
            <form class="searchForm d-flex">
                <input type="search" class="searchInput form-control me-2" placeholder="Arama yap" aria-label="arama metin kutusu">
                <button data-bs-dismiss='offcanvas' class="btn btn-outline-secondary btn-close-canvas" type="button">Ara</button>
            </form>
            </div>
        </div><!--offcanvas-->
        </div>
    </nav> <!--Navbar end-->   
    <header class="backImageAbout target ">
        <div class="container">
            <div class="backImageAbout-sub col-5 col-3-md offset-1 text-dark">Herkesin terapiye ihtiyacı vardır...</div>
            <br>
            <button class="backImage-btn btn btn-danger btn-lg p-lg-3 mt-3 rounded-pill titillium-web-light text-uppercase offset-1" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Randevu al</button>
            
        </div><!--container end-->
    </header><!-- backround end -->
    <section id="about" class="mySection container">
        <div style="display: grid; justify-items: center;">
            <div class="aboutME target row pacifico-regular mb-3 ms-2" style="width: fit-content">Hakkımda</div>
            <img src="..//img/cv.png" class="img-fluid row aboutPageImage2 target" alt="aboutPageImage2" style="height: 180px; width: 160px; display: none;" aria-hidden="true"> 
        </div>
        <div class="col-11 container">
            <div class="aboutPageImageClass mt-4 d-flex">
                <img src="..//img/aboutPageImage.jpeg" class="aboutPageImage target me-5 rounded-4" alt="aboutPageImage" height="500px" aria-hidden="true">
                <div>
                    <p class="aboutcv target" style="text-indent: 20px;">Derya Arslan, Uzman Klinik Psikolog & Psikoterapist, psikodiyet psikoloğu/yeme bozukluğu uzmanı, grup danışmanıdır.  
                    <p class="aboutcv target" style="text-indent: 20px;">
                        Arslan, klinik uzmanlığını “Yetişkinlerin Kendini Sabotaj Eğilimleri ve Olumsuz Değerlendirilme Korkusu Düzeylerinin Yeme Tutumları Üzerine Etkisinin İncelenmesi’’ adlı çalışması ile almıştır. İstanbul Psikodrama Enstitüsü- Zerka Moreno Uluslararası Psikodrama Enstitüsünde iki öğrenci yaşantı grubu ve psikodrama eğitimi hazırlık aşamasını tamamlamıştır. Aynı enstitüde Psikodrama Grup Terapisi Temel aşama eğitimini tamamlamıştır. </p>
                    </p>
                    <p class="aboutcv target" style="text-indent: 20px;">
                        Klinik pratiğini lisans eğitiminden itibaren farklı danışmanlık merkezlerinde meslektaşları mentorlüğünde sürdürmüştür.  
                    <p class="aboutcv target" style="text-indent: 20px;">
                        Filika Psikolojik Danışmanlık Merkezi’nde mesleki faaliyetler bulunmuş, meslek çalışmalarına destek olmuştur. Kurum koordinatörlüğü görevi yapmıştır. Kurumda yapılan eğitim, çalışma, atölye ve çeşitli programlarda koordinatörlükler yürütmüştür. Boğaziçi Üniversitesi Rehberlik Merkezi’nde terapist destek ekibinde bulunmuş, üniversite öğrencilerine terapi desteği vermiştir. Arslan, terapi çalışmalarını psikodrama, psikodinamik psikoterapi, ışığında eklektik bir çerçeveden sürdürmektedir.
                        </p>
                    <p class="aboutcv target" style="text-indent: 20px;">
                        Yetişkinlere bireysel psikoterapi desteği vermekte, alt yapısını yaratıcı drama, psikodrama, sanat ve dramadan oluşan Farkındalık Odaklı Grup Atölyeleri Programları yazmakta ve yürütmektedir.
                        Psikososyal destek kapsamında dezavantajlı gruplara ve yardım gruplarına, sanat ve oyun odaklı grup atölyeleri desteği vermektedir. 
                        Psikodiyet Akademi Psikodiyet Psikoloğudur. Uzman Psikolog Senem Eke Yıldız ile çalışmalar yürütmektedir. Psikodiyet Akademi’de Psikodiyet yeme bozuklukları tedavi grubu yardımcı terapistidir. Psikodiyet Akademi bünyesinde yeme bozuklukları araştırmaları, çalışmaları, eğitimleri ve atölyeleri yürütmektedir.
                    </p>
                    <p class="aboutcv target" style="text-indent: 20px;">
                        Kendi terapi sürecinden geçmiş olmakla birlikte mesleğini etik ilkelere bağlı ve süpervizyon desteği ile yürütme özenini göstermektedir.
                    </p>
            </div>     
        </div>
        </div>
    </section><!-- about end -->
    <section id="experiences" class="container bg-light">
    <div style="display: grid; justify-items: center;"><br><br><br><br>
        <div class="aboutME target row pacifico-regular mb-3 ms-2" style="width: fit-content">Deneyimler</div>
        <br><br><br>
    </div>
    <div class="row">
        <div class="col-6">
            <ul class="timeline">
                <li class="t-inverted experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/yeniYasam.jpg" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h4>2022 -</h4>
                            <h4>Yeni Yaşam Global</h4>
                        </div>
                    </div>
                </li>
                <li class="experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/psiko.jpg" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h4>2021 -</h4>
                            <h4>Psikodiyet Akademi</h4>
                        </div>
                        <div class="t-boddy">
                    </div>
                </li>
                <li class="t-inverted experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/bogazivi.png" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h4>2021 - 2023</h4>
                            <h4>Boğaziçi Üniversitesi Rehberlik Merkezi</h4>
                        </div>
                        <div class="t-boddy">
                    </div>
                </li>
                <li class="experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/fit.jpg" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h4>2020 - 2020</h4>
                            <h4>Fit Terapi Beslenme ve Psikolojik Danışmanlık Merkezi</h4>
                        </div>
                        <div class="t-boddy">
                    </div>
                </li>
                <li class="t-inverted experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/lotus.jpg" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h4>2019 - 2023</h4>
                            <h4>Lotus Psikolojik Danışmanlık</h4>
                        </div>
                        <div class="t-boddy">
                    </div>
                </li>
                <li class="experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/pep.png" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h5>2018 - 2018</h5>
                            <h4>Psikoterapi ve Psikososyal Çalışmalar Derneği</h4>
                        </div>
                    </div>
                </li>
                <li class="t-inverted experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/ilk.webp" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h5>2017 - 2017</h5>
                            <h4>Halit Uygur İlkokulu</h4>
                        </div>
                    </div>
                </li>
                <li class="experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/bahcelievler.jpg" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h5>2016 - 2016</h5>
                            <h4>Bahçelievler Rehberlik Araştırma Merkezi</h4>
                        </div>
                    </div>
                </li>
                <li class="t-inverted experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/danışmanlık.jpg" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h5>2016 - 2019</h5>
                            <h4>Filika Psikolojik Danışmanlık</h4>
                        </div>
                        
                    </div>
                </li>
                <li class="experienceLis target">
                    <div class="t-image">
                        <img class="img-fluid rounded-circle" src="..//img/okyanus.png" width="110px" alt="okyanus">
                    </div>
                    <div class="t-panel">
                        <div class="t-heading">
                            <h5>2016 - 2016</h5>
                            <h4>Okyanus Koleji</h4>
                        </div>
                    </div>
                </li>  
            </ul>
        </div>
        <div class="col-6 mt-3">
            <div class="accordion">
                <h5 class="accordion-toggle target">Psikodrama Grup Terapisi Temel Aşama Eğitimi</h5>
                <p class="accordion-toggle2 target text-muted">(Uzm. Psk. Dan. Deniz Altınay, İstanbul Psikodrama Enstitüsü, 2019-2023)</p>
                <h5 class="accordion-toggle target">Psikodrama Grubu</h5>
                <p class="accordion-toggle2 target text-muted">(İstanbul Psikodrama Enstitüsü,2017,2018)</p>
                <h5 class="accordion-toggle target">Psikodinamik Psikoterapi Kuram, Klinik, Teknik Eğitimi</h5>
                <p class="accordion-toggle2 target text-muted"> (Klinik Psikolog Hakan Kızıltan -2022)</p>
                <h5 class="accordion-toggle target">Psikodinamik Psikoterapi Eğitimi</h5>
                <p class="accordion-toggle2 target text-muted">(Psikiyatrist Erdoğan Özmen/Filika Psikolojik Danışmanlık, 2019)
                </p>
                <h5 class="accordion-toggle target">Psikodiyet Psikolog Eğitimi /Yeme Bozuklukları Uzman Eğitimi </h5>
                <p class="accordion-toggle2 target text-muted">(Psikodiyet Akademi, Uzm. Psikolog Senem Eke Yıldız)</p>
                <h5 class="accordion-toggle target">Deneyimsel Terapi Teknikleri </h5>
                <p class="accordion-toggle2 target text-muted">(Psikodiyet Akademi, Uzm. Psikolog Senem Eke Yıldız)</p>
                <h5 class="accordion-toggle target">Bilişsel Davranışçı Terapiler (3.Dalga) </h5>
                <p class="accordion-toggle2 target text-muted">(İstanbul Kent Üniversitesi)</p>
                <h5 class="accordion-toggle target">I.Düzey Gottman Çift Terapisi Eğitimi </h5>
                <p class="accordion-toggle2 target text-muted">(Uzm.Psk.Filiz Kaya, Uzm.Psk.Özge Altan Aytun, Psikoloji İstanbul, 2019)</p>
                <h5 class="accordion-toggle target">Çift Terapisi Dersleri</h5>
                <p class="accordion-toggle2 target text-muted">(Klinik Psikolog, Çift ve Aile Terapisti Didem Doğan/Filika Psikolojik Danışmanlık, 2019)</p>
                <h5 class="accordion-toggle target">Psikodinamik Odaklı Entegratif Çift Terapisi</h5>
                <p class="accordion-toggle2 target text-muted">(Filika Enstitü & Danışmanlık Merkezi – 2019 Klinik Psikolog, Çift ve Aile Terapisti Didem Doğan)</p>
                <h5 class="accordion-toggle target">Travma Dersleri / Teori ve Vaka Paylaşımı</h5>
                <p class="accordion-toggle2 target text-muted"> (Filika Enstitü & Psikolojik Danışmanlık -2017 Klinik Psikolog ,Çift ve Aile Terapisti Didem Doğan)</p>
                <h5 class="accordion-toggle target">Yeterince İyi Aile Eğitimi</h5>
                <p class="accordion-toggle2 target text-muted">(Filika Enstitü & Psikolojik Danışmanlık – 2019 Psikolojik Danışman , Çift ve Aile Terapisti Beyhan Özpar)</p>
                <h5 class="accordion-toggle target">Stratejik Perspektiften Aile Terapisi</h5>
                <p class="accordion-toggle2 target text-muted">Filika Enstitü & Danışmanlık Merkezi – 2019</p>
                <h5 class="accordion-toggle target">Psikososyal Perspektiften Madde Kullanım Bozuklukları</h5>
                <p class="accordion-toggle2 target text-muted">(Uzman Bağımlılık Danışmanı Ferruh Güneş, Psikoterapi ve Psikososyal Çalışmalar Derneği, 2019)</p>
                <h5 class="accordion-toggle target">Yeterince İyi Okul -Okul İklimini İyileştirme Eğitimi</h5>
                <p class="accordion-toggle2 target text-muted">(Beyhan Özpar/Filika Psikolojik Danışmanlık,2018)</p>
                <h5 class="accordion-toggle target">Cinsel İstismar Eğitimi</h5>
                <p class="accordion-toggle2 target text-muted">(ÇATED, 2018)</p>
                <h5 class="accordion-toggle target">Yaratıcı Drama Liderlik Eğitimi</h5>
                <p class="accordion-toggle2 target text-muted"> (Şişli Akademi, 2018)</p>
                <h5 class="accordion-toggle target">Sanat Terapisi</h5>
                <p class="accordion-toggle2 target text-muted"> Altınbaş Üniversitesi / S.E.M Akademi – Psikiyatrist Hira Selma Kalkan – 2020</p>
            </div>
    
        </div>
    </div>
    </section><!-- experiences end -->
    <section id="workPlace" class="container">
        <div style="display: grid; justify-items: center;">
            <br><br><br><br>
            <div class="aboutME target row pacifico-regular mb-3 ms-2" style="width: fit-content">Çalışmalar</div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-6 mt-3">
                <div>
                    <p class="accordion-toggle mb-2 target text-muted">Psikodiyet Grup Terapisi Değişim Programı Yardımcı Terapisti: Psikodiyet Akademi (2020-2021-2022-2023)</p>
                    <p class="accordion-toggle target text-muted">Duygusal Yemede Kendine Yardım Atölyesi: Yeni Yaşam Global (2023)</p>
                    <p class="accordion-toggle target text-muted">Sınırlar Atölyesi: Yeni Yaşam Global (2023)</p>
                    <p class="accordion-toggle target text-muted">“Eskiye Veda Yeniye Merhaba” Atölye Grup Çalışması: Yeni Yaşam Global (2022)</p>
                    <p class="accordion-toggle target text-muted">Yeme Bozukluğu Farkındalık Eğitimleri - Psikodiyet Akademi</p>
                    <p class="accordion-toggle target text-muted">“Eskiye Veda Yeniye Merhaba” Atölye Grup Çalışması (2021)</p>
                    <p class="accordion-toggle mb-2 target text-muted">Öz farkındalık Grup Çalışmaları</p>
                    <p class="accordion-toggle mb-2 target text-muted">Psikodiyet Akademi Grup Atölyeleri Çalışmaları</p>
                    <p class="accordion-toggle mb-2 target text-muted">Psikodiyet Kulübü Grup Atölyeleri Başkanlığı</p>
                    <p class="accordion-toggle mb-2 target text-muted">Kendine Destek Grup Atölyeleri Çalışmaları</p>
                    <p class="accordion-toggle mb-2 target text-muted">Beslenme ve Öz farkındalık üzerine grup atölyeleri ve çalışmaları </p>
                    <p class="accordion-toggle mb-2 target text-muted">Renkler Kültür Sanat Evi: Dezavantajlı gruplara yönelik çalışmalar</p>
                </div>
            </div>
            <div class="col-8 col-md-6 mb-5">
                <img src="..//img/deryaarslan.jpeg" class="aboutImage forPhoneImage target" alt="aboutPageImage3">
            </div>
        </div>
        <br><br><br>
    </section><!-- workPlace end -->
    <section id="workshop" class="container bg-light">
            <br><br><br>
            <div class="row my-5">
                
                <h2 class="text-center pacifico-regular target">Atolyeler</h2>
            </div>
            <div class="row">
                <div class="col 6"><img src="..//img/groupWork.jpg" height="500px" class="aboutImage forPhoneImage2 target" alt="aboutPageImage2"></div>
                <div class="col">
                    <p class="text-start experienceLis target">Sanat ve Psikoloji Grup Çalışması</p>
                    <p class="text-start experienceLis target">Yeme ve Beden Üzerine Öz Farkındalıklı Grup Çalışması</p>
                    <p class="text-start experienceLis target">Yeme Bozukluğu Dersleri</p>
                    <p class="text-start experienceLis target">Duygusal Yemede İlk Yardım Atölyesi</p>
                    <p class="text-start experienceLis target">Kuşaklararası Aktarım Atölyesi</p>
                    <p class="text-start experienceLis target">Yemek Atomu Atölyesi</p>
                    <p class="text-start experienceLis target">Duygusal Yeme Saati Atölyesi</p>
                    <p class="text-start experienceLis target">Yemek ve Sınırlar Atölyesi</p>
                    <p class="text-start experienceLis target">Bedenimin Sesi Atölye Çalışması</p>
                    <p class="text-start experienceLis target">Beden Algısı Atölyesi</p>
                    <p class="text-start experienceLis target">İlişkiden Tabağa Grup Çalışması</p>
                    <p class="text-start experienceLis target">İçe Bakış Atölyesi</p>
                    <p class="text-start experienceLis target">Sınırlar Atölyesi</p>
                    <p class="text-start experienceLis target">Travma ve İlk Yardım Grup Çalışması</p>
                    <p class="text-start experienceLis target">İlişkilere Dair Farkındalık Grup Çalışması </p>
                    <p class="text-start experienceLis target">Romantik İlişkilerde “Ben” Neden Hep Aynı Erkekler Kadınlar</p>
                    <p class="text-start experienceLis target">Eskiye Veda Yeniye Merhaba Atölyesi</p>  
                </div>
            </div>
    </section><!-- workshop end -->
        
{{>modal}}
{{>footer}}
{{>foot}}
