    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(205, 205, 205);" id="mainNavbar">
        <div class="container">
            <a href="/" style="font-family: 'Times New Roman', Times, serif;" class="navbar-brand text uppercase" title="Klinik Psikolog Derya Arslan">Klinik Psikolog | Derya Arslan</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-label="Menüyü açma ve kapatma butonu" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="myLabel" id="myNavbar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="myLabel">Neler Var</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="kapat"></button>
            </div>
        
            <div class="offcanvas-body">
            <ul class="navbar-nav me-auto mb-lg-0 mb-2">
                <li class="nav-item" data-bs-dismiss='offcanvas'><a href="/" class="nav-link btn-close-canvas">Anasayfa</a></li>
                <li class="nav-item" data-bs-dismiss='offcanvas'><a href="/about" class="nav-link btn-close-canvas">Hakkımda</a></li>
                <li class="nav-item" data-bs-dismiss='offcanvas'><a href="/blog" class="nav-link btn-close-canvas">Blog</a></li>
                <li class="nav-item me-5" data-bs-dismiss='offcanvas'><a href="/video" class="nav-link btn-close-canvas">Videolar</a></li>
                <li class="nav-item dropdown" >
                    <a class="nav-link d-none dropdown-toggle" id="nDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu" id="MyDropdown" aria-labelledby="nDropdown">
                        
                    </ul>
                </li>
            </ul>
            <form class="searchForm d-flex">
                <input type="search" class="searchInput form-control me-2" placeholder="Arama yap" aria-label="arama metin kutusu">
                <button data-bs-dismiss='offcanvas' class="btn btn-outline-secondary btn-close-canvas" type="button">Ara</button>
            </form>
            </div>
        </div><!--offcanvas-->
        </div>
    </nav> <!--Navbar end-->
    <header class="backImageBlogPage target ">
        <div class="container">
            <div class="backImageBlogPage-sub col-5 col-3-md offset-1 text-light">Herkesin terapiye ihtiyacı vardır...</div>
            <br>
            <button class="backImage-btn btn btn-danger btn-lg p-lg-3 mt-3 rounded-pill titillium-web-light text-uppercase offset-1" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Randevu al</button>
            
            
        </div><!--container end-->
    </header><!-- backround end -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center mb-5">{{blogPageData.title}}</h2>
                <p> 
                   {{blogPageData.content}}
                </p>
                {{#if user}}
                <div>
                    <div class="text-center">
                        <button id="updateButton" class="btn btn-warning me-5">Güncelle</button>
                        <button id="deleteButton" class="btn btn-danger">Sil</button>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div><!-- blog end -->
    <script>
    const updateButton = document.getElementById('updateButton');
    const deleteButton = document.getElementById('deleteButton');
    deleteButton.addEventListener('click', () => {
        let url = window.location.href;
        let id = url.split('blogPage/')[1];
        
        fetch(`/blogPage/${id}`, {
            method: 'DELETE'
        }).then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('HTTP Hatası: ' + response.status);
            }
        }).then(data => {
            console.log(data);
        }).catch(error => {
            console.error('Hata:', error);
        });
    });
    updateButton.addEventListener('click', ()=>{
        let url = window.location.href;
        url = url.split('blogPage/')[1];

        window.location.href=`/blogEdit/${url}`
    })
    
</script>



    </script>
{{>modal}}
{{>footer}}
{{>foot}}
