#contact {
    background-color: #2c3535;
    background-repeat: no-repeat;
    background-image: url("../../img/map.png");
    background-position: center;
}

#contact input {
    padding-top: 1.5rem;
    
}

#contact .form-textarea {
    height: 92%;
}

#contact .form-textarea textarea {
    height: 100%;
    min-height: 10rem;
}

#contact .form-control:focus {
    box-shadow: 1px 1px 12px #4559dc;
}